*~
*.dSYM
.DS_Store

build
build/Makefile
build/CMakeCache.txt
build/CMakeFiles/
build/cmake_install.cmake
build/bin/
build/lib/
build/src/

config.mk
config.sh
lib/dakota/compiler
lib/dakota/platform.json
src/config.hh
src/obj
src/strerror-name.tbl
